/* Variables */
:root {
  --font-heading: 'Oswald', sans-serif;
  --font-body: 'Source Sans 3', sans-serif;
  --font-decorative: 'Dancing Script', cursive;
  --primary-color: #fbfbe6;
  --primary-shade: #fcfcfa;
  --color-black: #1f1f29;
  --color-white: #f9f4f4;
  --color-accent: #25a4e8;
}

/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--primary-color);
  font-family: var(--font-body);
  color: var(--color-black);
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Reusable Classes */
.container {
  max-width: 740px;
  width: 95%;
  margin: 0 auto;
  background-color: var(--primary-shade);
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.btn {
  padding: 0.35rem 0.85rem;
  border: none;
  background-color: var(--color-accent);
  border-radius: 4px;
  color: var(--color-white);
  border: 1px solid var(--color-accent);
  cursor: pointer;
  transition: 0.5s all ease;
}

.btn-link {
  display: inline-block;
  margin-block: 0.5rem;
  text-decoration: none;
}

.reset {
  background-color: #fff;
  color: var(--color-black);
  border: 1px solid var(--color-black);
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

/* HTML Element : main */
.main-app {
  margin-top: 2.2rem;
  border-radius: 16px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: var(--font-heading);
}

.logo span {
  font-family: var(--font-decorative);
}

.logo-image {
  width: 64px;
}

.app-desc {
  max-width: 85ch;
}

.form-control {
  background-color: var(--color-white);
  margin-block: 1rem;
  padding: 1rem;
}

input {
  border: 1px solid lightgray;
  border-radius: 0 5px 5px 0;
  padding-left: 0.5rem;
}

input:focus {
  outline-color: #25a4e8;
}

label[for='pria'] {
  margin-right: 0.4rem;
}

.form-control div > label {
  margin-bottom: 0.2rem;
}

.form-control p:first-of-type {
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.form-control > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
  gap: 0.25rem;
}

.form-control > div:first-of-type {
  margin-top: 0.5rem;
}

.form-control div label {
  font-weight: 700;
}

.app-desc p:first-of-type {
  margin-block: 1rem;
}

.app-desc ol {
  padding-left: 1rem;
}

button[type='submit'] {
  margin-top: 0.5rem;
}

.input-field {
  display: flex;
}

.input-field > input {
  flex: 1 1;
}

.icon-pen {
  width: 32px;
  background-color: lightgray;
  padding: 0.4rem;
  border-radius: 5px 0 0 5px;
}

.btn:hover {
  background-color: #0c86b8;
  border-color: #0c86b8;
}

.reset:hover {
  background-color: lightgray;
}

small {
  display: inline-block;
  margin-left: 0.5rem;
}

.error {
  color: tomato;
}

/* BMI Result */
.bmi-result {
  margin-block: 1rem;
  border-radius: 16px;
}

.result h1 {
  font-size: 2rem;
}

.go-back {
  display: flex;
  width: 220px;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-white);
  border-radius: 50px;
  padding: 0.2rem;
  cursor: pointer;
  transition: 0.5s all ease;
  margin-bottom: 1rem;
}

.go-back:hover {
  background-color: lightgray;
}

.go-back img {
  background-color: var(--color-accent);
  border-radius: 50%;
  width: 26px;
}

.bmi-score {
  background-color: var(--color-white);
  text-align: center;
  padding-block: 1.6rem;
}

.bmi-score h2 {
  font-weight: 400;
}

.display {
  font-size: 5rem;
  line-height: 1.2;
}

.button-download {
  display: flex;
  gap: 0.5rem;
  margin: 1rem auto 0;
}

.download-icon {
  width: 20px;
}

.description {
  margin-top: 1rem;
}

.description p:first-child {
  margin-bottom: 0.5rem;
}

.example-disease {
  margin-top: 1rem;
  background-color: var(--color-white);
  padding: 1rem;
  text-align: center;
}

.example-disease ul {
  display: inline-block;
  text-align: left;
  margin-block: 0.2rem;
}

.download-app {
  margin-top: 1.2rem;
  text-align: center;
}

.download-app p {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.app-card {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.app-card img:first-child {
  max-width: 220px;
}

.app-card img:last-child {
  max-width: 220px;
}

/* Media Query */
@media (max-width: 475px) {
  .container {
    padding: 1rem;
  }

  .main-app {
    margin-block: 1rem;
  }

  .app-desc p:first-of-type {
    margin-block: 0.6rem;
  }
  .app-card img:first-child {
    max-width: 160px;
  }

  .app-card img:last-child {
    max-width: 160px;
  }
}
